{{>layout/header}}

<h1>주소록 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="age"> 나이 </label>
                <input type="text" class="form-control" id="age" placeholder="나이를 입력하세요">
            </div>
            <div class="form-group">
                <label for="phone_number"> 내용 </label>
                <textarea class="form-control" id="phone_number" placeholder="연락처를 입력하세요"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}